@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --main-bg-color: #f9f7f7; 

  --secondary-bg-color: #dbe2ef;
  --accent-color: #3f72af;
  --inverted-color: #112d4e;
  --transparent-bg: rgba(249, 247, 247, 0.9)
}

a {
  color: var(--accent-color);
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
  font-family: 'Montserrat', sans-serif;
}

html,
body,
p,
a {
  font-family: 'EB Garamond', serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

.layout {
  margin: auto;
  width: 650px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 3px 0px;
}

.big-title {
  margin-right: auto;
  text-decoration: none;
  color: #000000;
}
